<h1>This is the City Search Page</h1>

<form method="POST" action="/search">
    <label for="city-input">City: </label>
    <input type="text" name="city">

    <label for="state-input">State:</label>
    <input type="text" name="state">
    <input type="submit" value="Find lat/long">
</form>